{% macro render_question(item, q_id, t_id, alternative) %}
<div class="question {{ bag('alternatives', alternative, 'direction') }}">
  <h4 class="text-primary">
    <a data-toggle="collapse" href="#{{ q_id }}" data-target="#{{ q_id }}" role="button" aria-expanded="false" aria-controls="{{ q_id }}">
      {{ item.title }}
    </a>
  </h4>
  <div id="{{ q_id }}" class="collapse show anchor-spacer exp" role="tabpanel">
    {{ item.description|safe }}

    {% if q_id == "https-1" %}
      {% include 'secure-connections.html' %}
    {% endif %}
    <div class="card mt-5">
      <ul class="list-group list-group-flush">
         <!--li class="list-group-item"><a><span class="card-text text-muted">{{ _("Contributors to this page:") }} <a href="#" title="#">cypherpunk</a></span></li-->
         <li class="list-group-item">
           <a href="https://github.com/torproject/support/edit/master/content{{ item.path }}/contents.lr">{{ _("Edit this page") }}</a> -
           <a href="https://support.torproject.org/misc/bug-or-feedback/">{{ _("Suggest Feedback") }}</a> -
           <a href="{{ item|url }}">{{ _("Permalink") }}</a>
          </li>
       </ul>
    </div>
  </div>
</div>
{% endmacro %}
